.menu {
    background-color: rgb(37, 95, 161);
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    position: absolute top;
}

.menu .elementy {

    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    display:block;
}

.menu .elementy:hover {
    background: rgb(6, 46, 179);
}


.glowna {
    background-image: linear-gradient(rgb(74, 164, 216), rgb(0, 119, 255));
    width: 100%;
    height: 100vh;
}