.menu {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: absolute top;
    align-items: center;
}

.menu .elementy {

    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bolder;
}

.menu .elementy:hover {
    display:block;
    font-size: larger;
}


.main {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(59, 85, 233));
    width: 100%;
    height: 90vh;
}


.main .opis {
    font-weight: bolder;
    margin: 0px 30px 0px 30px;
    font-size: 18px;
}

.main .oferta{
    font-weight: bolder;
    margin: 0px 30px 0px 30px;
    font-size: 18px;
}


.main .kontakt{
    width: 100%;
    display: flexbox;
    text-align: center;
    font-weight: bold;
    margin: 100px 0px 0px 0px;
}




a:link {
    color: black;
  }
  
a:visited {
    color: black;
  }
  
a:hover {
    color: black;
  }
  
a:active {
    color: black;
  }